@font-face {
  font-family: 'icomoon';
  src:  url('fonts/papaya-icons/papaya_icons.eot?i775p0');
  src:  url('fonts/papaya-icons/papaya_icons.eot?i775p0#iefix') format('embedded-opentype'),
    url('fonts/papaya-icons/papaya_icons.ttf?i775p0') format('truetype'),
    url('fonts/papaya-icons/papaya_icons.woff?i775p0') format('woff'),
    url('fonts/papaya-icons/papaya_icons.svg?i775p0#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-papaya_clients:before {
  content: "\e900";
}
.icon-papaya_instruction:before {
  content: "\e901";
}
.icon-papaya_map:before {
  content: "\e902";
}
.icon-papaya_orders:before {
  content: "\e903";
}
.icon-papaya_reviews:before {
  content: "\e904";
}
.icon-papaya_work1:before {
  content: "\e905";
}
.icon-papaya_work3:before {
  content: "\e906";
}
