/*.App {*/
  /*text-align: center;*/
/*}*/

/*.App-logo {*/
  /*animation: App-logo-spin infinite 20s linear;*/
  /*height: 80px;*/
/*}*/

/*.App-header {*/
  /*background-color: #222;*/
  /*height: 150px;*/
  /*padding: 20px;*/
  /*color: white;*/
/*}*/

/*.App-title {*/
  /*font-size: 1.5em;*/
/*}*/

/*.App-intro {*/
  /*font-size: large;*/
/*}*/

/*.absolute-center {*/
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*margin-top: -50px;*/
  /*margin-left: -50px;*/
  /*width: 100px;*/
  /*height: 100px;*/
/*}*/
/*@keyframes App-logo-spin {*/
  /*from { transform: rotate(0deg); }*/
  /*to { transform: rotate(360deg); }*/
/*}*/
/*body {*/
  /*background: #43525A;*/
/*}*/
