.navbar .header-nav-item {
  font-size: 18px;
  display: inline-block;
  overflow: hidden;
}

.navbar .header-nav-item > .item-title {
  position: relative;
  bottom: 1px;
  font-size: 18px;
  transform: translateY(2px);
}

.navbar-nav > li > a {
  padding: 25px 1vw !important;
}

.header__nav-active-link span[class*=icon-papaya]::before {
  color: #e88b23;
}

.header__nav-active-link .item-title {
  color: #e88b23;
}

@media only screen and (max-width: 1250px) {
  a > .header-nav-item > .item-title {
    display: none;
  }

  .navbar-nav > li > a {
    padding: 25px 2vw !important;
  }

  .navbar-nav > li > a > img {
    width: 30px !important;
  }

  span[class*=icon-papaya]::before {
    font-size: 25px;
  }
  
}